:root{
    --primary: #6ec1e4;
    --secondary: #4054B2;
    --text: rgb(72,72,72);
    --hover: lightgray;
    --active: gray;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: verdana, arial, Helvetica, sans-serif;
}

.ctaButton{
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    color: white;
    transition: all 0.2s;
}

.ctaButton:hover{
    background-color: #616fb1;
    transform: scale(1.05);
}

.ctaButton:active{
    background-color: #5464ad;
}

body{
    overflow-x: hidden;
}



/* NavBar */

#navBar{
    height: 80px;
    box-shadow: 0px 2px 10px gray;
    /* background-color: transparent;
    backdrop-filter: blur(1px); */
    background-color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: 100%;
    transition: 0.4s ease transform;
}

.navItems{
    height: 100%;
    display: flex;
    z-index: 999px;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

.btnsList{
    list-style-type: none;
}

.navBtns ul{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btnsList a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: all 0.3s ease-in;
}

.btnsList a:hover{
    color: grey;
}

.btnsList a:active{
    color: darkgray
}


#logoPic {
    width: 9rem;
}


#navSelected a{
    color: gray;
}

#ctaButtonNav{
    height: 36px;
    width: 10rem;
}


.fa-solid.fa-bars.fa-xl{
    color: rgb(72, 72, 72);
    cursor: pointer;
    position: relative;
    z-index: 1000;
    transition: all 0.2s;
}

.fa-solid.fa-bars.fa-xl:hover{
    color: black;
}

.fa-solid.fa-bars.fa-xl:active{
    color: gray;
}

.fa-solid.fa-x.fa-xl{
    display: none;
    color: var(--text);
    cursor: pointer;
    position: relative;
    z-index: 1001;
    color: rgb(210, 210, 210);
}

.fa-solid.fa-x.fa-xl:hover{
    color: white;
}

.fa-solid.fa-x.fa-xl:active{
    color: rgb(210, 210, 210);
}

.dropBar{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 80px ;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.614);
    height: 100vh;
}

.dropBar ul{
    margin-top: 1rem;
}

.dropBar ul li{
    list-style-type: none;
    margin-bottom: 1rem;
    border-left: 1px white solid;
    padding-left: 1rem;
    width: 100vw;
}

.dropBar ul li a{
    width: auto;
    padding-right: 100%;
    text-decoration: none;
    color: rgb(210, 210, 210);
    font-size: 1.5rem;
}

.dropBar ul li a:hover{
    color: white;
}

#dropSelected a{
    color: white;
}


.hidden {
    transform: translateY(-100%);
}

#ctaButtonDrop{
    height: 36px;
    width: 10rem;
}

@media screen and (max-width: 1000px){
    .navBtns ul a{
        display: none;
    }

    .fa-bars{
        display: flex;
    }

    #pcHeroPic{
        display: none;
    }

    #logoPic{
        width: 6rem;
    }

}

@media screen and (min-width: 1001px){
    .navBtns ul a{
        display: flex;
    }

    .fa-bars{
        display: none
    }

    #mobHeroPic{
        display: none;
    }

    .navBtns{
        margin-right: -3rem;
    }
}


main p{
    font-size: 16px;
}

@media screen and (min-width: 1001px){
    main p{
        font-size: 16px;
    }
}

/* Header */
.header{
    background-image: url(images/aboutHeader.png);
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px
}

.header h2{
    font-size: 3rem;
    color: white;
    margin-top: 80px;
}


/* Founder */


.founder{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 100px;
}

.founderImg{
    width: auto;
}

.founderImg img{
    height: 100%;
    width: 100%;
}

.founderDesc{
    margin-top: 1rem;
    width: auto;
}

.founderDesc h2{
    color: #4054B2;
}

.founderDesc p{
    margin-top: 8px;
}

@media screen and (min-width: 1001px){
    .founder{
        flex-direction: row;
        justify-content: space-between;
        margin-left: 96px;
        margin-right: 96px;
    }

    .founderImg{
        width: 48%;
    }

    .founderDesc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        width: 48%;
    }
}


/* Who Are We? */

.whoWe{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 100px;
}

.whoWe h2{
    color:#4054B2;
}

#whoWeHeader{
    margin-top: 20px;
}

.whoWe p{
    margin-top: 8px;
}

.whoWeImg{
    width: auto;
    margin-top: 8px;
}

.whoWeImg img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1001px){
    .whoWe{
        margin-left: 96px;
        margin-right: 96px;
        display: flex;
        justify-content: space-between;
    }

    .whoWeDesc{
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .whoWeImg{
        width: 48%;
        margin-top: 0;
    }
}


/* Mission */
.mission{
    padding-left: 16px;
    padding-right: 16px;
    background-color: #6ec1e450;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 100px;
    border-radius: 30px;
}

.mission h2{
    color: #4054B2;
    text-align: center;
}

.missionGrp{
    margin-top: 8px;
}

.missionGrp h4{
    margin-bottom: 8px;
}

@media screen and (min-width: 1001px){
    .mission{
        padding-left: 96px;
        padding-right: 96px;
    }

    .missionsContain{
        display: flex;
        justify-content: space-between;
    }

    .missionGrp{
        width: 33%;
    }

}


/* Safety */
.safety{
    margin-bottom: 100px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.safety h2{
    color: #4054B2;
}

.safety p{
    margin-top: 8px;
}

.safety span{
    color: #40b24d;
}



/* Vision */
.vision{
    background-color: #6ec1e450;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 100px;
    border-radius: 30px;
}

.vision h2{
    color: #4054B2;
    text-align: center;
}

.visionGrp{
    margin-top: 8px;
}

.visionGrp h4{
    margin-bottom: 8px;
}

@media screen and (min-width: 1001px){
    .vision{
        padding-left: 96px;
        padding-right: 96px;
    }

    .visionsContain{
        display: flex;
        justify-content: space-between;
    }

    .visionGrp{
        width: 30%;
    }
}




/* CTA */


.ctaSection{
    width: 100%;
    height: 400px;
    background-image: url(images/ctaSectImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ctaContain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctaText{
    color: white;
    text-align: center;
}


.ctaContain{
    margin-bottom: 1rem;
}

#ctaButtonCTA{
    height: 36px;
    width: 10rem;
}

@media screen and (min-width: 1001px){
    .ctaText h2{
        font-size: 4rem;
    }

    .ctaText p{
        font-size: 20px;
    }
}




/* Footer */

footer{
    background-color: var(--secondary);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.socials{
    margin-left: 3rem;
    display: flex;
    height: fit-content;
}

.whatsapp{
    margin-right: 8px;
}

.facebook{
    margin-right: 8px;
}

.navigation{
    margin-right: 3rem;
    margin-left: 0px;
    width: 100%;
}

.navigation h3{
    text-align: center;
}

.footCategories{
    display: flex;
    justify-content: space-between;
    margin-left: 25rem;
    margin-bottom: 1rem;
}


.footCategories ul li{
    list-style-type: none;
    margin-bottom: 1rem;
}

.footCategories ul li a{
    text-decoration: none;
    color: rgb(213, 214, 213);
    transition: all 0.2s;
}

.footCategories ul li a:hover{
    color: white;
}

.footCategories ul li a:active{
    color:gray;
}

.footCategories h4{
    margin-bottom: 1rem;
}


@media screen and (max-width: 1080px){
    .navigation{
        margin-right: 3rem;
    }

    .footHome{
        display: flex;
        justify-content: end;
    }

    .footHome li{
        width: 10rem;
    }

    .footJourney{
        display: flex;
        justify-content: end;
    }

    .footJourney li{
        width: 10rem;
    }

    .footAdvice{
        display: flex;
        justify-content: end;
    }

    .footAdvice li{
        width: 10rem;
    }
    
    .navigation{
        padding-left: 0px;
    }

    .footCategories{
        flex-direction: column;
        margin-left: auto;
    }
}