:root{
    --primary: #6ec1e4;
    --secondary: #4054B2;
    --text: rgb(72,72,72);
    --hover: lightgray;
    --active: gray;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: verdana, arial, Helvetica, sans-serif;
}

#exitBtn{
    border: 0;
    background-color: #4054B2;
    border-radius: 12px ;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

#exitBtn:hover{
    border-radius: 20px ;
    transform: scale(1.3);
}